header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 7.2rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-navigation {
    display: flex;
    align-items: center;
    gap: 12.5rem;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 5.6rem;
}

header nav ul li a {
    font-size: 1.4rem;
    color: #5F5C6B;
}

header nav ul li a:hover {
    color: #000000;
}

header .link-action {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

header .link-action span {
    background-color: #E1E0E7;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    font-weight: 700;
    color: #8C8A97;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .link-action a {
    font-size: 1.4rem;
    font-weight: 600;
    color: #5F5C6B;
}

header .link-action a:hover {
    color: #000000;
}

header .menu {
    display: none;
}

.s-hero {
    position: relative;
    padding-top: 4.8rem;
}

.s-hero .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-hero .content-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4.8rem;
    text-align: center;
    color: #4E4B59;
    max-width: 86.3rem;
    margin-bottom: 2.4rem;
}

.s-hero .content-container p {
    font-size: 1.8rem;
    color: #5F5C6B;
    max-width: 82.5rem;
    margin-bottom: 4rem;
}

.s-hero .content-container .input-container {
    position: relative;
    width: 100%;
    max-width: 44.8rem;
    margin-bottom: 6.4rem;
}

.s-hero .content-container .input-container input {
    width: 100%;
    border: none;
    background-color: #F1F0F5;
    padding: 1.6rem 11rem 1.6rem 2.4rem;
    border-radius: 12rem;
}

.s-hero .content-container .input-container button {
    position: absolute;
    top: 2.4rem;
    right: 0.8rem;
    transform: translateY(-50%);
    background-color: #7A7786;
    color: #FFFFFF;
    border: none;
    padding: 1.1rem 2rem;
    border-radius: 12rem;
    font-weight: 500;
    font-size: 1.4rem;
}

.s-hero .content-container .input-container button:hover {
    background-color: #8C8A97;
}

.s-hero .illustration {
    position: absolute;
    top: 39rem;
    width: 95.2rem;
    height: 46.4rem;
    display: block;
}

.s-hero .illustration-mobile {
    display: none;
}

@media(max-width: 560px) {
    header {
        height: 7rem;
    }
    header .logo-navigation .logo {
        max-width: 16.4rem;
    }
    header nav ul li {
        display: none;
    }
    header .link-action {
        display: none;
    }
    header .menu {
        display: block;
    }
    .s-hero {
        padding-top: 4rem;
    }
    .s-hero .content-container h1 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
   .s-hero .content-container p {
        font-size: 1.6rem;
        max-width: 29.5rem;
        text-align: center;
        margin-bottom: 5.2rem;
    }
   .s-hero .content-container .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 8.6rem;
    }
    .s-hero .content-container .input-container input {
        max-width: 31.9rem;
        padding: 1.6rem 11.2rem 1.6rem 2.4rem;
        margin-bottom: 1.1rem;
    }

    .s-hero .content-container .input-container button {
        position: static;
        transform: none;
        max-width: 32rem;
        padding: 1.6rem 11.8rem;
    }

    .s-hero .content-container .illustration {
        display: none;
    }

    .s-hero .content-container .illustration-mobile {
        width: calc(100% + 3rem);
        max-width: none;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        display: block;
    }
}


